html{
  box-sizing: border-box;
}

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body{
  background: $background;
  font-family: 'TT Lakes', sans-serif;
}

.container{
  max-width: 90%;
  margin: 0 auto;
}
@media  screen and (min-width: 768px) {
  .container{
      max-width: 93.75%;
  }
}
@media  screen and (min-width: 768px) {
  .container{
      max-width: 94.375%;
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

button{
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

button:focus-visible{
  outline: 2px solid rgb(212, 208, 208);
  border-radius: 3px;
  filter: opacity(50%);
  transition: .1s;
}

.icon{
  width: 40px;
  height: 40px;
}



