.header{
    background: #fff;
    @media screen and (min-width: 1440px) {
        &{display: none;}
    }

    &__row{
        justify-content: space-between;
        padding: 18px 0;
    }
    
    &__left, &__right{
        display: flex;
        align-items: center;
        column-gap: 16px;
    }
    
    &__line{
        width: 2px;
        height: 32px;
        background: $line-color;
    }
    
    &__logo{
        background-image: url(../images/header/Group.svg);
        background-size: cover;
        width: 96px;
        height: 50px;
    }
    
    &__item{
        width: 40px;
        height: 40px;
    }
    
    &__burger{
        background-image: url(../images/header/burger.svg);
    }
    
    &__line-left{
        display: none;
        @media  screen and (min-width: 768px) and (max-width:1440px) {
            &{
                display: block;
            }
        }
    }
    
    
    
    &__call{
        display: none;
        background-image: url(../images/header/call.svg);
        @media  screen and (min-width: 768px) and (max-width:1440px) {
            &{
                display: block;
            }
        }
    }
    
    
    &__msg{
        display: none;
        background-image: url(../images/header/chat.svg);
        @media  screen and (min-width: 768px) and (max-width:1440px) {
            &{
                display: block;
            }
        }
    }
    
    
    
    &__profile{
        display: none;
        background-image: url(../images/header/profile.svg);
        @media  screen and (min-width: 768px) and (max-width:1440px) {
            &{
                 display: block;
             }
         }
         
    }
    
    
    
    &__line-right{
        margin-right: 4px;
    }
    
    &__option{
        background: url(../images/header/repair.svg);
    }
    
    &__search{
        background: url(../images/header/checkstatus.svg);
        
    }
    
    
}

